/*Theme Name: SiteName
Theme URI:http://localhost/;
Description: описание темы;
Version: 1.0;*/





/*===============================CSS мой=============================*/


body{
    min-width: 640px !important;
    background: transparent url(images/Info.png) repeat-y; 
    padding: 94px 0;
}

.container-header{
    background-color: white;
    padding-top:  23px;

}

.otstup{
       margin: 0px 27px 0px 0px;
       color: #787878;
}
.otstup1{
  
       color: #787878;
}

/*========================================блок с мобильным телефоном====================================*/
.container-mobilephone{
    background-color: #e8e9e9;
   
}
.container-mobilephone1 img{
    margin: 52px 20px 20px 20px; 
}
.container-mobilephone1
{
  height: 400px;

background-color: #e8e9e9;
  
}
.container-mobilephone2
{
padding: 0px 1px 50px  1px;

}

.text1{
    font-size: 21pt;
    color: #114954;
    margin: 109px 20px 20px 0px;
}
.text2{
    font-size: 28pt;
    font-weight: 600;
   color: #114954;
   margin: 0px 0px 15px 0px;
}
.text3{
    font-size: 15pt;
    color: #929292;
    margin: 0px 0px 15px 0px;
}



.border1
{
    outline: 2px solid #000; 
}

.bold-href
{
    font-weight: 600;
}
.ulogin {
    padding: 15px 0;
}
/*===================================с синим фоном============================*/
.container-blue{
    background-color: #6dc5dd;
    padding-top: 58px;
    color: white;
}
.col-md-1-1{
    padding: 0px 0px 0px 38px;
}
.col-md-3-1{
    padding: 0px 0px 0px 33px;
    
}
.col-md-3-2{
    padding: 0px 0px 0px 4px;
}
.col-md-3-3{
    padding: 0px 0px 0px 4px;
}
.text-blue1{
    font-size: 20px;
    margin: 0 0 17px;

}
.text-blue2{
     font-size: 15px;
     margin: 28px 1px 57px 2px;
     color: white;
}
.text-blue2-href{
    color: white;
}
.arrow-right {
    background: url(images/strelka.png) right center no-repeat;
    padding-right: 20px;
   
}
/*===========================контейнер с фото============================*/
.container-foto{
    background-color: white;
      padding-bottom: 60px;
}
.indent-pictures
{
   padding: 61px 0px 0px 15px;
}

.indent-text
{
padding: 2px 2px 2px 52px;
}

.title_text_foto
{
  color: #003d48;
  font-weight: 600;
  font-size: 19px;
  margin: 58px 0px 0px 0px;
}
.text-foto
{
    color: #8c9193;
  font-size: 14px;
  margin: 15px 0px 30px 00px;
}


.inset{
      padding: 20px 10px 20px 35px;
    background-color: #003d48;
    color: white;
}

.inset2{
       padding: 20px 0px 0px 39px;
       color: #8c9193;

}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  color: #f77462;
  cursor: default;
  background-color: #003d48;
  border: 1px solid #003d48;
  border-bottom-color: transparent;
}

.pading-1{
    padding: 66px 29px 0px 24px;
}
.text-inset{
    color: #f77462;
}

.text-inset1{
    color: #9c9c9c;
    background: url(images/strelka2.png) left center no-repeat;
    padding-left: 25px;
}
.text-inset2{
    color: #6dc5dd;
    font-weight: 600;
    font-size: 29px;
     padding-left: 25px;
}

/*=========================оформление кнопок===========================*/
.button-style{
    background-color: #f77462;
    color: white;
    padding: 10px 20px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none; 
}
.button-style1{
    background-color: #f77462;
    color: white;
    padding: 10px 20px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none; 
}


/*============================блок Orange==================================*/
.container-orange{
    background-color: #f77462;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-orange1{
  font-weight: 600;
  font-size: 29px;
}
.text-orange2{
    font-size: 17px;
}

/*============================блок White==================================*/
.container-white{
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 48px;
}
.text-white1{
  font-weight: 600;
  font-size: 29px;
}
.text-white2{
    font-size: 17px;
    color: #6dc5dd; 
 
}
.hr-widt{
    width: 80%;
   
}
/*=============================блок Calendar====================================*/
.container-calendar{
    background-color: white;
    color: #9c9c9c;
}
.text-calendar1{
    color: #003d48;
  margin: 0px 0px 0px 10px;
  font-weight: 600;
  font-size: 15px;
}
.text-calendar2{
color: #f88f81;
 margin: 0px 0px 0px 10px;
}
.text-calendar3{
margin: 0px 0px 0px 10px;
  padding: 10px 0px 56px 0px;
}


.question-border{
background-color: #ececec;
  margin: 1px 0px 42px 0px;

}

.text-question1{
    margin: 30px 0px 21px 0px;
}
.text-question2{
    color:#f77462;
    margin: 30px 0px 31px 0px;
    font-weight: 600;
}

.bg-message-right{
    background: url(images/otvet.png) 95% center no-repeat #ececec;
    padding-right: 150px;
}
.arrow-right2 {
    background: url(images/strelka3.png) right center no-repeat;
    padding-right: 25px;
   
}

/*===================================pre footer=========================*/
.pre-footer{
    background-color: #6dc5dd;
    color: white;
}
.text-pre-footer1{
  margin: 58px 21px 21px 21px;
  font-weight: 600;
  font-size: 19px;
}
.text-pre-footer2{
    margin: 0px 0px 0px 20px;
  font-size: 15px;
}
.color-link{
    color: white;
}
.text-footer{
      margin: 86px 0px 26px 20px;
}

.footer{
  color: white;
  background-color: #6dc5dd;
  padding: 0 50px;
  padding-top: 50px;
}
.footer-content {
    padding: 30px 0;
    border-top: 1px solid #fff;
}
.copyright p {
    line-height: 33px;
    margin: 0;
}
.twitter{
      background: url(images/facebook.png) center no-repeat;
}
.facebook{
     background: url(images/twitter.png) center no-repeat;
}
.icon2{
    margin-left: 10px;
}



.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #003d48;
  border: 1px solid #003d48;
  border-bottom-color: transparent;
}
.tab-content {
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 5px 5px 5px;
}
.tab-content .inset {
    border-top-right-radius: 5px;
}
.nav-tabs {
  border-bottom: 1px solid transparent;
}

.nav-tabs > li {
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}
.nav-tabs > li > a {
    margin-right: 0;
}

/*=============================== конец=================================*/
input[type="submit"] {
 border: 0px;
  background-color: #f77462;
  color: white;
    padding: 5px 15px 4px 15px;
  margin: 0px 2px 9px 4px;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

/*===============================Календарь цифры==========================*/
.number1{
 color: white;
 background-color: #6dc5dd;
 margin: 0px 0px 2px 0px;
 font-size: 20pt;
 font-weight: 600;
 text-align: center;
 border-radius: 5px 5px 0px 0px; 
}
.number2{
 color: white;
 background-color: #6dc5dd;
  font-size: 14pt;
 font-weight: 600;
 text-align: center;
  border-radius: 0px 0px 5px 5px; 
}




.screen-reader-text{

    display:none;
}


.search-submit{
  border: 0px;
/*  background-color: #f77462;*/
  color: white;
  padding: 5px 10px;
  margin: 0px 0px 0px 0px;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

.pages {
color: #003d48;
  font-weight: 600;
  font-size: 34px;
  margin: 58px 0px 30px 0px;
}


.new_sidebar{
    color: #8c9193;
   
}
.new_sidebar a {
      color: #9c9c9c;
      background: url(images/strelka2.png) left center no-repeat;
      padding-left: 25px;
      list-style-type: none; 
      margin: 1 1 1 1;
    
}
.new_sidebar li{
    list-style-type: none; 
}

.widgettitle{
    color: red;
    font-size: 15px;
}

.new_cabinet{
    color: #9c9c9c;
   
}
.new_cabinet a {
      color: #9c9c9c;
   
      padding-left: 25px;
      list-style-type: none; 
      margin: 1 1 1 1;
      background: url(images/strelka2.png) left center no-repeat;
    
}
.new_cabinet li{
    list-style-type: none; 
}


.collapse navbar-collapse img{
    margin: 2px 23px 19px -16px;
}

.button-icon{
    background-color: #1ABB9C;
}

@media (max-width: 991px) {
    .container-mobilephone2
    {
      padding-left: 200px;

    }
    
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-nav > li {
      float: none;
    }
    
}
@media (min-width: 992px) {
    .navbar-header {
      float: left;
    }
    .navbar-nav > li {
      float: left;
    }
    .navbar-nav-1 {
        float: right;
    }
}

@media (max-width: 768px) {
.container-mobilephone2
{
  padding-left: 150px;

}
    
}

.button-icon{
    background-color: #f77462;
}

